@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  background-color: #fff;
}

.container {
  width: 1140px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  padding: 15px 0;
}

.formRow{
  width: 100%;
  justify-content: center;
}

.formGroup {
  margin: 10px 0;
}
